source https://www.nuget.org/api/v2
storage: none

group Main
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget FSharp.Core ~> 4.7 lowest_matching: true
    nuget Feliz.ViewEngine >= 0.15
